{% extends 'bookmark/base.html' %}
{%load newfilters%}
{% block title%}Add New Page for Category: {{category_name_url}}{% endblock%}
{%block body_block%}

      <h1>Add a Page</h1>

      {% if not category_name_url %}
      <h2> Category Does not Exist!</h2>
      {% else %}
        <form id="page_form" method="post" action="/bookmark/category/{{category_name}}/add_page/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br></br>
            {% endfor %}

            <input type="submit" name="submit" value="Create Page" />
        </form>
      {% endif %}
{%endblock%}