{% extends 'bookmark/base.html' %}
{%load newfilters%}
{% block title %}{{ category_name }}{% endblock %}
{%block body_block%}
        <h2>Add a Category</h2>

        <form id="category_form" method="post" action="/bookmark/add_category/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field |addcss:"class:form-control" }}          
                </div>
            {% endfor %}

            <button class="btn btn-primary" type="submit" name="submit">Create Category</button>
        </form>
{%endblock%}